/* Estilos para o header e navegação */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para as seções */
  section {
    padding: 50px 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Estilos para o início */
  #inicio {
    background-color: #f0f0f0;
  }
  
  #inicio .container {
    text-align: center;
  }
  
  #inicio h1 {
    color: #333;
    font-size: 36px;
  }
  
  #inicio p {
    color: #666;
    font-size: 18px;
  }
  
  /* Estilos para os funcionários */
  .funcionario {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .funcionario img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .info {
    flex: 1;
  }
  
  /* Estilos para o formulário de contato */
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }
  
  /* Estilos para o rodapé */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
  }
  